.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-btn-1 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-size: 1rem; font-weight: normal; margin: 114px 45px 60px auto; padding: 18px 93px 19px}
.u-section-1 .u-btn-2 {border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-size: 1rem; font-weight: normal; margin: 64px auto 60px; padding: 18px 81px 18px 80px} 

@media (max-width: 1199px){ .u-section-1 .u-btn-1 {margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-btn-1 {border-style: none; align-self: center; margin-top: 190px; margin-right: auto; margin-bottom: 0; padding: 7px 62px 8px 61px}
.u-section-1 .u-btn-2 {margin-top: 40px; margin-bottom: 0; padding: 7px 21px 8px 20px}
.u-section-1 .u-text-1 {font-size: 0.875rem; width: auto; animation-duration: 1000ms; margin: -255px auto 0}
.u-section-1 .u-line-1 {width: 200px; margin: 13px auto 60px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-custom-html-1 {width: 170px; min-height: 68px; margin: 60px auto} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 80px}
.u-section-2 .u-custom-html-1 {min-height: 80px; height: auto; margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto} }